<% layout('layouts/boilerplate') %>

    <div class="row">

        <h1 class="text-center">Edit Campground</h1>

        <div class="col-6 offset-3">

            <!-- Adding Form Here -->

            <form action='/campgrounds/<%=camp._id%>/?_method=put' method="post" novalidate class="validated-form" enctype="multipart/form-data">

                <div class="mb-3">

                    <label for="name" class="form-label">
        
                        Name 
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter name" id="name" name="campground[name]" value = "<%=camp.name%>" required>

                </div>

                <div class="mb-3">

                    <label for="location" class="form-label">
        
                        Location
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter location" id="location" name="campground[location]" value = "<%=camp.location%>" required>

                </div>

                <div class="mb-3">

                    <label for="image" class="form-label">
        
                        Image Upload
            
                    </label>

                    <br>
            
                    <input type="file" name="image" id="image" multiple>

                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">Rs.</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value = "<%=camp.price%>" required>
                    </div>
                </div>

                <div class="mb-3">

                    <label for="description" class="form-label">
        
                        Description
            
                    </label>
            
                    <textarea class="form-control" type="text" placeholder="Enter description" id="description" name="campground[description]" required><%=camp.description%></textarea>

                </div>

                <div class="mb-3">

                    <button class="btn btn-warning">
        
                        Save Changes
            
                    </button>

                </div>
        
            </form>

            <div class="mb-3">

                <a class="btn btn-info" href='/campgrounds/<%=camp._id%>'>

                    All Campgrounds
            
                </a>    

            </div>

        </div>

    </div>