<% layout('layouts/boilerplate') %>

<h1>

    All Campgrounds

</h1>

<div class="mb-3">

    <a href='/campgrounds/new' class="card-link btn btn-success">

        New Campground
    
    </a>    

</div>

<% for (let camp of campgrounds) { %>

    <div class="card mb-3">

        <div class="row">

            <!-- Takes up 1/4th of the space. Talking about the image here -->
            <div class="col-md-4">
                <% if(camp.images.length) { %> 
                    <img class="img-fluid" src="<%= camp.images[0].url %>" alt="">
                <% } else {%> 
                    <img class="img-fluid" src="https://res.cloudinary.com/dwzysltr3/image/upload/v1713797879/YelpCamp/zyfci2ihyciyiroyjnaj.jpg" alt="">
                <% } %>
            </div>

            <!-- Takes up the leftover 2/3rd of the space -->
            <div class="col-md-8">

                <div class="card-body">

                    <h5 class="card-title"><%= camp.name %></h5>
                    <p class="card-text"><%= camp.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=camp.location%></small>
                    </p>
                    <p class="card-text">Rs. <%=camp.price%></p>
                    <a href="campgrounds/<%=camp._id%>" class="btn btn-primary">View <%= camp.name %></a>
                </div>

            </div>

        </div>

    </div>

<% } %>