<% layout('layouts/boilerplate') %>

    <h1>

        <%= camp.name %>            

    </h1>

    <a href='/campgrounds'>

        View all campgrounds

    </a>

    <h3>

        Name: <%= camp.name %> 

    </h3>

    <h3>

        Location: <%= camp.location %> 

    </h3>

    <img src="<%= camp.image %>" alt="">

    <p>

        <%= camp.description %>

    </p>

    <span>

        Price: <%= camp.price %>

    </span>

    <form action="/campgrounds/<%=camp._id%>?_method=delete" method="post">

        <button>

            Delete

        </button>

    </form>

    <a href='/campgrounds/<%=camp._id%>/edit'>

        Edit Campground

    </a>